<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
		<script>
				function setDefaultDate() {
				const now = new Date();
				const day = now.getDate().toString().padStart(2, '0');
				const month = (now.getMonth() + 1).toString().padStart(2, '0');
				const year = now.getFullYear().toString();
				const today = `${year}-${month}-${day}`;
				
	 		document.getElementById('data_actual').value = today;
			}

			window.onload = function() {
				alert('La página se ha cargado correctamente.');
  				setDefaultDate();
}
		</script>
	</head>

	<body onload="setDefaultDate()" class="container">
		<header><%- include('../partials/header'); %></header>
		<main>
			<div class="card mt-4">
				<div class="card-header">
					<h5 class="card-title">Afegir sortida curricular</h5>
				</div>
				<div class="card-body">
					<form method="POST" action="/sortidescurriculars/create">
						<div class="form-group">
							<label for="data_actual">Data dia actual</label>
							<input type="date" name="data_actual" id="data_actual" class="form-control" />
							
							<label for="data_sortida">Data sortida curricular</label>
							<input type="date" name="data_sortida" id="data_sortida" class="form-control"/>

							<label for="email">E-mail</label>
							<input type="email" name="email" class="form-control" />

							<label for="lloc">Lloc de sortida</label>
							<input type="text" name="lloc" class="form-control" />

							<label for="ruta">Ruta</label>
							<input type="text" name="ruta" class="form-control" />

							<label for="objectius">Objectius</label>
							<input type="text" name="objectius" class="form-control" />

							<label for="grups">Grups</label>
							<input type="text" name="grups" class="form-control" />

							<label for="professors">Professors</label>
							<input type="text" name="professors" class="form-control" />
							<br>

							<label class="form-label" for="hora_inici">Hora inici</label>
							<br>
							<select class="form-select" id="hora_inici" name="hora_inici">
                            <optgroup label="Diurn">
                                <option >08:00</option>
                                <option >09:00</option>
                                <option >10:00</option>
																<option >10:00</option>
                                <option >11:00</option>
																<option >11:30</option>
                                <option >12:30</option>
                                <option >13:30</option>
																<option >14:30</option>
                            </optgroup>
                            <optgroup label="Nocturn">
                                <option >15:00</option>
                                <option >16:00</option>
                                <option >17:00</option>
                                <option >18:30</option>
                                <option >19:30</option>
                                <option >20:30</option>
                            </optgroup>
                        </select>
												<br>
												<br>

							<label class="form-label" for="hora_arribada">Hora arribada</label>
							<br>
							<select class="form-select" id="hora_arribada" name="hora_arribada">
                            <optgroup label="Diurn">

                                <option >08:00</option>
                                <option >09:00</option>
                                <option >10:00</option>
																<option >11:00</option>
                                <option >11:30</option>
                                <option >12:30</option>
                                <option >13:30</option>
                            </optgroup>
                            <optgroup label="Nocturn">
                                <option >15:00</option>
                                <option >16:00</option>
                                <option >17:00</option>
																<option >18:00</option>
                                <option >18:30</option>
                                <option >19:30</option>
                                <option >20:30</option>
                            </optgroup>
                        </select>
												<br>
												<br>

							<label class="form-label" for="estat">Estat</label>
							<br>
							<select class="form-select" id="estat" name="estat">
															
                                <option >Proposada</option>
                                <option >Refusada</option>
                                <option >Anul·lada</option>
                                <option >Aprovada</option>
							</select>
						</div>
						<button type="submit" class="btn btn-primary">Desar</button>
					</form>
					<% if (typeof errors !== "undefined") { %>
						<div class="alert alert-danger mt-2" role="alert">
							<% errors.forEach(function(error) { %>
								<p><%= error.msg %></p>
							<% }) %>
						</div>
					<% } %>
				</div>
			</div>
		</main>
		<footer><%- include('../partials/footer'); %></footer>
	</body>
</html>
