<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<style>
    /*
    borra esto luego macho
    */
    table, th, tr, td {
        border: 1px solid black
    }
</style>

<body class="container">
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <div class="card mt-2">
            <div class="card-header">
                <h5 class="card-title">Titol</h5>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Hora</th>
                            <th scope="col">Dilluns</th>
                            <th scope="col">Dimarts</th>
                            <th scope="col">Dimecres</th>
                            <th scope="col">Dijous</th>
                            <th scope="col">Divendres</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Diurn -->
                        <tr>
                            <td>8:00 - 9:00</td>
                        </tr>
                        <tr>
                            <td>9:00 - 10:00</td>
                        </tr>
                        <tr>
                            <td>10:00 - 11:00</td>                     
                        </tr>
                        <tr>
                            <td>11:00 - 11:30</td>
                            <td colspan="5">Esbarjo</td>
                        </tr>
                        <tr>
                            <td>11:30 - 12:30</td>
                        </tr>
                        <tr>
                            <td>12:30 - 13:30</td>
                        </tr>
                        <tr>
                            <td>13:30 - 14:30</td>
                        </tr>
                        <!-- Nocturn -->
                        <tr>
                            <td>15:00 - 16:00</td>
                        </tr>
                        <tr>
                            <td>16:00 - 17:00</td>
                        </tr>
                        <tr>
                            <td>17:00 - 18:00</td>
                        </tr>
                        <tr>
                            <td>18:00 - 18:30</td>
                            <td colspan="5">Esbarjo</td>
                        </tr>
                        <tr>
                            <td>18:30 - 19:30</td>
                        </tr>
                        <tr>
                            <td>19:30 - 20:30</td>
                        </tr>
                        <tr>
                            <td>20:30 - 20:30</td>
                        </tr>
                        <tr>
                            <td>20:30 - 21:30</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>