<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Inici</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/horaris">Horari</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/">Absensies</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/">Baixes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/">Sortides</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
    </li>
  </ul>
</nav>