<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('./partials/head'); %>
		<style>
			body {
				background: url('/images/pc3.png') no-repeat center center fixed;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				background-size: cover;
				-o-background-size: cover;
			}

			h2 {
				text-align: center;
				color: #e1ebef;
			}

			.container {
				color: #edf4f6;
			}

			div.jumbotron {
				background-color: #015370;
			}
		</style>
</head>
<body class="container">
	<header>
		<%- include('./partials/header'); %>
	</header>
	<main>
		<div class="jumbotron">
			<h2 textalign="center">Gestió de les absències del personal</h2>
			<p>Escolleigi l'opció al menú</p>
		</div>
	</main>
	<footer>
		<%- include('./partials/footer'); %>
	</footer>
</body>
</html>
