<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('./partials/head'); %>
</head>
<body class="container" id="home">
	<header>
		<%- include('./partials/header'); %>
	</header>
	<main>
		<div class="jumbotron" style="background-color: #015370;">
			<h2 style="text-align: center; color: #e1ebef;"">Gestió de les absències del personal</h2>
			<p>Escolleigi l'opció al menú</p>
		</div>
	</main>
	<footer>
		<%- include('./partials/footer'); %>
	</footer>
</body>
</html>
