<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('partials/header'); %>
    </header>

    <main>

        <div class="card mt-2">
            <div class="card-body">
                <form method="" action="">
                    Correu
                    <input type="email">
                    <br>
                    Contrasenya
                    <input type="password">
                    <br>
                    <input type="button" value="entrar">
                </form>
            </div>
        </div>

    </main>

    <footer>
        <%- include('partials/footer'); %>
    </footer>

</body>

</html>