<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
	<script>
		document.addEventListener("DOMContentLoaded", function() {
			document.getElementById("data_absprevista").valueAsDate = new Date();
		});
		function setDefaultDate() {
			const now = new Date();
			const day = now.getDate().toString().padStart(2, '0');
			const month = (now.getMonth() + 1).toString().padStart(2, '0');
			const year = now.getFullYear().toString();
			const today = `${year}-${month}-${day}`;

		 document.getElementById('data_actual').value = today;
		}

		window.onload = function() {
				setDefaultDate();
}
		</script>
</head>

<body class="container">
	<header>
		<%- include('../partials/header'); %>
	</header>
	<main>
		<div class="card mt-2">
			<div class="card-header">
				<h5 class="card-title">Afegir absència prevista</h5>
			</div>
			<div class="card-body">
				<form method="POST" action="/absprevistes/create">
					<div class="form-group">
						<!-- Input para comparar la fecha de la sortida con la fecha actual para que no hayan errores de validacion-->
           			 <input type="date" name="data_actual" id="data_actual" class="form-control" style="display:none"/>

						<label for="data_absprevista">Data absència</label>
						<input type="date" name="data_absprevista" id="data_absprevista"class="form-control">

						<label for="motiu_abs">Motiu absència</label>
						<textarea name="motiu_abs" class="form-control"></textarea>

						<label for="arxiuabs">Document justificatiu</label>
						<input type="file" id="arxiuabs" class="form-control">

					</div>
					<button type="submit" class="btn btn-primary">Desar</button>
					<br>
			</div>

			</form>
			<% if (typeof errors !== "undefined") { %>
				<div class="alert alert-danger mt-2" role="alert">
					<% errors.forEach(function(error) { %>
						<p><%= error.msg %></p>
					<% }) %>
				</div>
			<% } %>
		</div>
	</main>
	<footer>
		<%- include('../partials/footer'); %>
	</footer>
</body>

</html>
